table {
    border-collapse: collapse;
}
table th {
    text-align: left;
    background-color: rgb(92, 91, 89);
    color: white;
    padding: 4px 30px  4px 8px;
}

table td {
    padding: 4px 8px;
    border: 1px solid rgb(92, 91, 89);
    width: 400px;
}
table tr:nth-child(ood) td {
    background-color: honeydew;
}